body{
    background-color: #424242;
}

p{
    user-select: none;
}

#background{
    opacity: 0.25;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('assets/grid.webp');
    background-repeat: repeat;
    background-size: 24em;
}

#contextMenu{
    position: absolute;
    z-index: 999999999999;
    border-radius: 6px;
    background-color: rgb(70, 70, 70);
    color: lightgray;
    font-family: monospace;
    padding: 0px;
    display: none;
    overflow: hidden;
}

#contextMenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#contextMenu li{
    padding: 4px;
    cursor: pointer;
}

#contextMenu li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#topbar{
    background-color: rgb(42, 42, 42);
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}

#topbar span{
    margin: 0px;
    font-family: monospace;
    color: lightgray;
    padding: 0px;
    margin-left: 0px;
    margin-right: -4px;
    cursor: pointer;
    font-weight: bold;
}